openapi: 3.0.3
info:
  title: Microsoft Azure Management Resource Groups Resources API
  description: Core Microsoft Azure Resource Manager REST API for subscription, resource group, and resource management across all Azure services.
  version: '2022-09-01'
  x-generated-from: documentation
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resources
  description: Manage Azure resources
paths:
  /subscriptions/{subscriptionId}/resources:
    get:
      operationId: Resources_ListBySubscription
      summary: Microsoft Azure Azure Management List Resources by Subscription
      description: Get all the resources in a subscription.
      tags:
      - Resources
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        example: '2022-09-01'
      responses:
        '200':
          description: List of resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
              examples:
                Resources_ListBySubscription200Example:
                  summary: Default Resources_ListBySubscription 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: example
                    provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericResource'
        nextLink:
          type: string
    GenericResource:
      type: object
      description: Resource information.
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        type:
          type: string
        location:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        kind:
          type: string
        managedBy:
          type: string
        sku:
          type: object
          properties:
            name:
              type: string
            tier:
              type: string
            capacity:
              type: integer
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
